streamlit
python-dotenv
google-generativeai
faiss-cpu
pyPDF2
langchain
langchain-huggingface
sentence-transformers
langchain_community
geonamescache
gspread==5.12.0
oauth2client==4.1.3
google-auth==2.29.0
google-auth-oauthlib==1.2.0
python-dotenv==1.0.
uuid